<article class="rental">
    <Book::Image     src={{@book.image}}
    alt="A picture of {{@book.title}}"/>
    <div class="details">
        <h3>
            <LinkTo @route="book" @model={{@book}}>
                {{@book.title}}
            </LinkTo>
        </h3>
        <div class="detail owner">
            <span>Author:</span> {{@book.author}}
        </div>
        <div class="detail type">
            <span>Genre:</span> {{@book.genre}}
        </div>
        <div class="detail location">
            <span>Length:</span> {{@book.length}}
        </div>
    </div>
</article>